* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
}

.section1 {
    width: 100%;
    height: 80vh;
    padding: 20px 5%;
    display: flex;
    gap: 20px;
    margin-top: 8vh
}

/* LEFT SIDE */

.left-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-row1 {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-row2 h3 {
    font-size: 2rem;
}

.left-row2 p {
    font-size: 1.5rem;
    color: grey
}

.left-row3 {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.left-column1,
.left-column2 {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RIGHT SIDE */

.right-container {
    width: 50%;
    height: 100%;
}

.right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-row1 img,
.left-column1 img,
.left-column2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* =========================
   SECTION 2
   ========================= */

.section2 {
    width: 100%;
    height: 100vh;

    display: flex;
}


.section2-image {
    width: 50%;
    height: 100%;

    position: relative;
    overflow: hidden;
    transform: translateX(5vw);
}



.section2-image img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    object-position: center center;

    transform: scale(1);

   
    left: 0;
    top: 0;
}



.section2-text {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
}
.section2-text h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}


.section2-text p {
    font-family: Arial, sans-serif;
    font-size: 24px;
   color: #bab5b5;
    line-height: 1.4;
}

/* =========================
   3rd Section
   ========================= */


.section3 {
    margin-top: -15vh;
    width: 100%;
    height: 100vh;

    display: flex;
}




.section3-text {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
}
.section3-text h2 {
font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}


/* Paragraph */

.section3-text p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #bab5b5;
    line-height: 1.4;
}


.section3-image {
    width: 50%;
    height: 100%;

    position: relative;
    overflow: hidden;
    transform: translateX(-5vw);
}




.section3-image img {
  position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    /* You can manually control the image position */
    object-position: center center;

    /* You can zoom the image */
    transform: scale(1);

    /* MOVE IMAGE */
    left: 0;
    
    top: 0;
}



/* =========================
   SECTION 4
   ========================= */

.section4 {
    width: 50%;
    height: 50vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}



.section4-row1 {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


/* =========================
   ROW 2 — TWO IMAGES
   ========================= */

.section4-row2 {
    margin-top: 5vh;
    width: 100%;
    height: 30%;

    display: flex;
}


/* ----- Image Columns ----- */

.section4-column {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;

    overflow: hidden;
}


/* Left Image → Sticks to Right */

.section4-column:first-child {
    justify-content: flex-end;

}


/* Right Image → Sticks to Left */

.section4-column:last-child {
    justify-content: flex-start;

}


/* ----- Row 2 Images ----- */

.section4-column img {
    width: 80%;
    height: 100%;

    object-fit: contain;
    display: block;
}


/* =========================
   ROW 3 — TEXT
   ========================= */

.section4-row3 {
    margin-top: 5vh;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


/* =========================
   ROW 4 — CENTER IMAGE
   ========================= */

.section4-row4 {
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}


/* Row 4 Image */

.section4-row4 img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
    display: block;
}

.section4-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



/* =========================
   SECTION 5
   ========================= */

.section5 {
    width: 100%;
    height: 100vh;

    display: flex;
}


/* =========================
   COLUMN 1 — COMPLETE IMAGE
   ========================= */

.section5-column1 {
    width: 50%;
    height: 100%;

    position: relative;
    overflow: hidden;
}


/* Column 1 Image */

.section5-column1 img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    /* IMAGE CONTROL */
    object-position: center center;

    /* ZOOM */
    transform: scale(1);

    /* MOVE IMAGE */
    left: 0;
    top: 0;
}


/* =========================
   COLUMN 2
   ========================= */

.section5-column2 {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    transform: translateX(-15vw);
    
}


/* =========================
   COLUMN 2 — TOP IMAGE
   ========================= */

.section5-top-image {
    width: 100%;
    height: 30%;

    position: relative;
    overflow: hidden;
}


/* Column 2 Image */

.section5-top-image img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    /* IMAGE CONTROL */
    object-position: center center;

    /* ZOOM */
    transform: scale(1);

    /* MOVE IMAGE */
    left: 0;
    top: 0;
}


/* =========================
   COLUMN 2 — TEXT
   ========================= */

.section5-text {
    width: 100%;
    height: 70%;

    display: flex;

    justify-content: center;
    align-items:flex-start;

    text-align: center;

    padding: 20px;
}
.section5-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5-text-content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}


/* Paragraph */

.section5-text-content p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #bab5b5;
    line-height: 1.4;
}

/* =========================
   RESPONSIVE
   ========================= */

